header {
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid $neutral-200;
  display: flex;
  align-items: center;
  .header-logo {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    padding-left: 14px;
    height: 70px;
    transition: all 500ms ease;
    .logo {
      display: flex;
      svg {
        width: 34px;
        height: auto;
      }
    }
    .text {
      transition: opacity 500ms ease;
      margin-left: 12px;
      font-weight: 600;
    }
    .main_text {
      font-size: 16px;
    }
    .sub_text {
      color: $neutral-600;
      font-size: 11px;
      text-transform: uppercase;
      flex: 1 0;
    }
  }
  .header-search {
    margin-left: 110px;
    width: 250px;
  }
}
