.modal-hidden {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms ease;
}

.modal-visible {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 300ms ease;
}

.modal {
  position: absolute;
  margin-top: 75px;
  border-radius: 5px;
  width: 500px;
  padding-bottom: 30px;
  background-color: #fff;
  .modal-header {
    padding-left: 20px;
    padding-right: 16px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $neutral-100;
  }

  .modal-close-btn {
    svg {
      width: 28px;
      height: auto;
      display: flex;
    }
    &:hover {
      border-radius: 5px;
      background-color: $neutral-100;
    }
  }
  .modal-content {
    margin: 0 20px;
  }
}
