.shadowing {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: all 300ms ease;
}

.modal-hidden {
  transition: all 300ms ease;
  opacity: 0;
}

.modal {
  transition: all 300ms ease;
  position: fixed;
  margin-top: 75px;
  border-radius: 5px;
  width: 450px;
  background-color: #fff;
  padding-bottom: 24px;
  .header {
    padding-left: 20px;
    padding-right: 16px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $neutral-100;
  }
  .title {
  }
  .close-btn {
    svg {
      width: 28px;
      height: auto;
      display: flex;
    }
    &:hover {
      border-radius: 5px;
      background-color: $neutral-100;
    }
  }
  .content {
    margin: 0 20px;
  }
}
