@import "_variables.scss";
@import "../../UI/Inputs/general";
@import "../../UI/Inputs/Button/button";
@import "../../UI/Inputs/TextInput/textInput";
@import "../../UI/Inputs/PasswordInput/passwordInput";
@import "../../UI/Inputs/TextArea/textArea";
@import "../../UI/Inputs/Select/select";
@import "../../UI/Inputs/Switch/switch";
@import "../../UI/Inputs/Checkbox/checkbox";
@import "../../UI/Inputs/Button/button";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  background-color: $neutral-100;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#container {
  display: flex;
}

.container__main {
  z-index: 10;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: $neutral-600;
}
