@import "../Utils/_variables.scss";

.switch-container {
    margin: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
}

.switch-body {
    width: 40px;
    height: 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 24px;
}

.switch-disabled {
    transition: 400ms ease;
    justify-content: flex-start;
    background-color: $danger-500;
}

.switch-enabled {
    transition: 400ms ease;
    justify-content: flex-end;
    background-color: $success-500;
}

.switch-ball {
    margin-left: 4px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #fff;

}

.switch-ball-enabled {
    // left: 17px;
}

.switch-ball-disabled {
    // left: 0px;
}

@keyframes switch-ball-enabled {
    from {
        left: 0px;
    }
    to {
        left: 17px;
    }
}

@keyframes switch-ball-disabled {
    from {
        left: 17px;
    }
    to {
        left: 0px;
    }
}

.switch-label {
    margin-left: 10px;
    font-size: 16px;
}

.switch-label-enabled {
    transition: 400ms ease;
    color: $success-500;
}

.switch-label-disabled {
    transition: 400ms ease;
    color: $danger-500;
}
