.btn {
  transition: 150ms ease;
  width: 100%;
  height: 36px;
  min-width: 58px;
  border: 1px solid black;
  background: none;
  color: black;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
  &:disabled {
    background-color: $neutral-100;
    border: 1px solid $neutral-200;
    color: $neutral-600;
    cursor: not-allowed;
    &:hover {
      background-color: $neutral-100;
      border: 1px solid $neutral-200;
      color: $neutral-600;
    }
  }
}

$colors: "success", "danger", "info";
$types: "filled", "outline", "light", "subtle";

@mixin button($color, $bgc, $border, $hbgc) {
  color: $color;
  background-color: $bgc;
  border: 1px solid $border;
  &:hover {
    background-color: $hbgc;
  }
}
@each $color in $colors {
  @each $type in $types {
    $color-100: "";
    $color-200: "";
    $color-300: "";
    $color-400: "";
    $color-500: "";
    $color-600: "";
    $color-700: "";
    $color-800: "";
    @if $color == "success" {
      $color-100: $success-100;
      $color-200: $success-200;
      $color-500: $success-500;
      $color-600: $success-600;
      $color-700: $success-700;
    }
    @if $color == "danger" {
      $color-100: $danger-100;
      $color-200: $danger-200;
      $color-500: $danger-500;
      $color-600: $danger-600;
      $color-700: $danger-700;
    }
    @if $color == "info" {
      $color-100: $primary-100;
      $color-200: $primary-200;
      $color-500: $primary-500;
      $color-600: $primary-600;
      $color-700: $primary-700;
    }
    .btn-#{$type}-#{$color} {
      @if $type == "filled" {
        @include button(#fff, $color-600, transparent, $color-500);
      }
      @if $type == "outline" {
        @include button($color-600, none, $color-600, $color-100);
      }
      @if $type == "light" {
        @include button($color-600, $color-100, $color-200, transparent);
      }
      @if $type == "subtle" {
        @include button($color-600, none, transparent, $color-100);
      }
    }
  }
}
