.select-container {
  display: flex;
  align-items: center;
  width: 100%;
  .select-input {
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    height: 28px;
    border-radius: 4px;
    border: solid 1px $neutral-200;
    padding-left: 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
  }
  .arrow svg {
    display: flex;
    width: 18px;
    height: auto;
    margin-left: -30px;
    transform: rotate(0deg);
    transition: transform 300ms ease;
    color: $neutral-400;
  }

  .opened svg {
    transform: rotate(-180deg);
    transition: transform 300ms ease;
  }
}

.select-options {
  max-height: 200px;
  overflow-y: overlay;
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    opacity: 0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  position: absolute;
  z-index: 1000;
  font-size: 14px;
  margin-top: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaef;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
  border-radius: 4px;
  .option {
    margin: 5px 0;
    overflow-x: hidden;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 9px;
    margin-left: 3px;
    margin-right: 3px;
    min-height: 36px;
    &:first-child {
      margin-top: 8px;
    }
    &:last-child {
      margin-bottom: 8px;
    }
    &:hover {
      background-color: $primary-100;
    }
  }
}
