@import "../Utils/_variables.scss";

.select-container {
  position: relative;
}

select {
  margin: 5px 20px 0px 20px;
  min-height: 40px;
  min-width: 260px;
  border: 1px solid $neutral-200;
  border-radius: 4px;
  padding-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: $neutral-500;

  font-size: 14px;
  &:focus {
    outline-color: $primary-600;
  }

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background-image: url(../images/CarretDown.svg); /* Add custom arrow */
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 18px;
}

.select-options {
  font-weight: 300;
  position: absolute;
  margin-top: 5px;
  margin-left: 20px;
  z-index: 99;
  min-width: 258px;
  background-color: #ffffff;
  border: 0.5px solid #eaeaef;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
  border-radius: 4px;
}

.option {
  font-size: 14px;
  margin: 0 3px 0 3px;
  display: flex;
  height: 36px;
  align-items: center;
  padding-left: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  &:hover {
    background-color: $primary-100;
    border-radius: 4px;
  }
}

option {
  display: none;
}
