.divider-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-line {
  flex: 1 0;
}

.divider-label {
  margin: 0 15px;
  color: $neutral-300;
}
