@import "./variables";
@import "../Inputs/ActionIcon/actionIcon";
@import "../Inputs/Autocomplete/autocomplete";
@import "../Inputs/Button/button";
@import "../Inputs/Checkbox/checkbox";
@import "../Inputs/General/general";
@import "../Inputs/PasswordInput/passwordInput";
@import "../Inputs/Select/select";
@import "../Inputs/Switch/switch";
@import "../Inputs/TextArea/textArea";
@import "../Inputs/TextInput/textInput";
@import "../Utils/Divider/divider";
@import "../Utils/Loader/loader";
@import "../Utils/Skeleton/skeleton";
@import "../DataDisplay/Accordion/accordion";
@import "../DataDisplay/Kbd/kbd";
@import "../DataDisplay/Card/card";
@import "../Overlay/Modal/modal";
@import "../Overlay/Affix/affix";
@import "../Layout/Navbar/navbar";
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: $neutral-100;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

.xs {
  height: 24px !important;
}
.sm {
  height: 30px !important;
}

.md {
  height: 36px !important;
}

.lg {
  height: 42px !important;
}
.full {
  height: 100% !important;
}
