@import "../Utils/_variables.scss";

.modal-container {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 275px;
  filter: drop-shadow(0px 2px 15px rgba(33, 33, 52, 0.1));
}

.modal-header {
  background-color: $neutral-0;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $neutral-100;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 600;
}

.modal-main {
  font-size: 14px;
  font-weight: 300;
  background-color: $neutral-0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
}

.modal-footer {
  background-color: $neutral-0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  font-weight: 700;
  &:nth-child(1) {
    margin-left: 15px;
    margin-right: 3px;
  }
  &:nth-child(2) {
    margin-left: 3px;
    margin-right: 15px;
  }
}
