.action-icon {
  cursor: pointer;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
  padding: 0;
}

.action-icon:hover {
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}

.action-icon svg {
  height: 16px;
  width: 16px;
}

.action-icon-disabled {
  cursor: not-allowed;
  background-color: #f6f6f9 !important;
  border: 1px solid #f6f6f9 !important;
}

.action-icon-disabled svg {
  color: #c0c0cf !important;
}

.action-icon-disabled:hover {
  background-color: #f6f6f9 !important;
  border: 1px solid #f6f6f9 !important;
}

.action-icon-disabled:hover svg {
  color: #c0c0cf !important;
}

.icon-sm {
  width: 24px;
  height: 24px;
}

.icon-sm svg {
  width: 14px;
  height: 14px;
}

.icon-md {
  width: 28px;
  height: 28px;
}

.icon-md svg {
  width: 16px;
  height: 16px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

.icon-lg svg {
  width: 18px;
  height: 18px;
}

.icon-xl {
  width: 36px;
  height: 36px;
}

.icon-xl svg {
  width: 20px;
  height: 20px;
}

.icon-transparent-neutral {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-transparent-neutral svg {
  color: #666687;
}

.icon-transparent-neutral:hover {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-transparent-neutral:hover svg {
  color: #666687;
}

.icon-transparent-success {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-transparent-success svg {
  color: #328048;
}

.icon-transparent-success:hover {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-transparent-success:hover svg {
  color: #328048;
}

.icon-transparent-danger {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-transparent-danger svg {
  color: #d02b20;
}

.icon-transparent-danger:hover {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-transparent-danger:hover svg {
  color: #d02b20;
}

.icon-transparent-primary {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-transparent-primary svg {
  color: #4945ff;
}

.icon-transparent-primary:hover {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-transparent-primary:hover svg {
  color: #4945ff;
}

.icon-hover-neutral {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-hover-neutral svg {
  color: #666687;
}

.icon-hover-neutral:hover {
  background-color: #f6f6f9;
  border: 1px solid transparent;
}

.icon-hover-neutral:hover svg {
  color: #666687;
}

.icon-hover-success {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-hover-success svg {
  color: #328048;
}

.icon-hover-success:hover {
  background-color: #eafbe7;
  border: 1px solid transparent;
}

.icon-hover-success:hover svg {
  color: #328048;
}

.icon-hover-danger {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-hover-danger svg {
  color: #d02b20;
}

.icon-hover-danger:hover {
  background-color: #fcecea;
  border: 1px solid transparent;
}

.icon-hover-danger:hover svg {
  color: #d02b20;
}

.icon-hover-primary {
  background-color: transparent;
  border: 1px solid transparent;
}

.icon-hover-primary svg {
  color: #4945ff;
}

.icon-hover-primary:hover {
  background-color: #f0f0ff;
  border: 1px solid transparent;
}

.icon-hover-primary:hover svg {
  color: #4945ff;
}

.icon-filled-neutral {
  background-color: #666687;
  border: 1px solid transparent;
}

.icon-filled-neutral svg {
  color: #fff;
}

.icon-filled-neutral:hover {
  background-color: #4a4a6a;
  border: 1px solid transparent;
}

.icon-filled-neutral:hover svg {
  color: #fff;
}

.icon-filled-success {
  background-color: #328048;
  border: 1px solid transparent;
}

.icon-filled-success svg {
  color: #fff;
}

.icon-filled-success:hover {
  background-color: #2f6846;
  border: 1px solid transparent;
}

.icon-filled-success:hover svg {
  color: #fff;
}

.icon-filled-danger {
  background-color: #d02b20;
  border: 1px solid transparent;
}

.icon-filled-danger svg {
  color: #fff;
}

.icon-filled-danger:hover {
  background-color: #b72b1a;
  border: 1px solid transparent;
}

.icon-filled-danger:hover svg {
  color: #fff;
}

.icon-filled-primary {
  background-color: #4945ff;
  border: 1px solid transparent;
}

.icon-filled-primary svg {
  color: #fff;
}

.icon-filled-primary:hover {
  background-color: #271fe0;
  border: 1px solid transparent;
}

.icon-filled-primary:hover svg {
  color: #fff;
}

.icon-light-neutral {
  background-color: #f6f6f9;
  border: 1px solid transparent;
}

.icon-light-neutral svg {
  color: #666687;
}

.icon-light-neutral:hover {
  background-color: #dcdce4;
  border: 1px solid transparent;
}

.icon-light-neutral:hover svg {
  color: #666687;
}

.icon-light-success {
  background-color: #eafbe7;
  border: 1px solid transparent;
}

.icon-light-success svg {
  color: #328048;
}

.icon-light-success:hover {
  background-color: #c6f0c2;
  border: 1px solid transparent;
}

.icon-light-success:hover svg {
  color: #328048;
}

.icon-light-danger {
  background-color: #fcecea;
  border: 1px solid transparent;
}

.icon-light-danger svg {
  color: #d02b20;
}

.icon-light-danger:hover {
  background-color: #f5c0b8;
  border: 1px solid transparent;
}

.icon-light-danger:hover svg {
  color: #d02b20;
}

.icon-light-primary {
  background-color: #f0f0ff;
  border: 1px solid transparent;
}

.icon-light-primary svg {
  color: #4945ff;
}

.icon-light-primary:hover {
  background-color: #d9d8ff;
  border: 1px solid transparent;
}

.icon-light-primary:hover svg {
  color: #4945ff;
}

.icon-outline-neutral {
  background-color: transparent;
  border: 1px solid #666687;
}

.icon-outline-neutral svg {
  color: #666687;
}

.icon-outline-neutral:hover {
  background-color: #f6f6f9;
  border: 1px solid #666687;
}

.icon-outline-neutral:hover svg {
  color: #666687;
}

.icon-outline-success {
  background-color: transparent;
  border: 1px solid #328048;
}

.icon-outline-success svg {
  color: #328048;
}

.icon-outline-success:hover {
  background-color: #eafbe7;
  border: 1px solid #328048;
}

.icon-outline-success:hover svg {
  color: #328048;
}

.icon-outline-danger {
  background-color: transparent;
  border: 1px solid #d02b20;
}

.icon-outline-danger svg {
  color: #d02b20;
}

.icon-outline-danger:hover {
  background-color: #fcecea;
  border: 1px solid #d02b20;
}

.icon-outline-danger:hover svg {
  color: #d02b20;
}

.icon-outline-primary {
  background-color: transparent;
  border: 1px solid #4945ff;
}

.icon-outline-primary svg {
  color: #4945ff;
}

.icon-outline-primary:hover {
  background-color: #f0f0ff;
  border: 1px solid #4945ff;
}

.icon-outline-primary:hover svg {
  color: #4945ff;
}

.btn {
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
  width: 100%;
  height: 36px;
  min-width: 58px;
  border: 1px solid black;
  background: none;
  color: black;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.btn:disabled {
  background-color: #f6f6f9;
  border: 1px solid #dcdce4;
  color: #666687;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: #f6f6f9;
  border: 1px solid #dcdce4;
  color: #666687;
}

.btn-filled-success {
  color: #fff;
  background-color: #328048;
  border: 1px solid transparent;
}

.btn-filled-success:hover {
  background-color: #5cb176;
}

.btn-outline-success {
  color: #328048;
  background-color: none;
  border: 1px solid #328048;
}

.btn-outline-success:hover {
  background-color: #eafbe7;
}

.btn-light-success {
  color: #328048;
  background-color: #eafbe7;
  border: 1px solid #c6f0c2;
}

.btn-light-success:hover {
  background-color: none;
}

.btn-subtle-success {
  color: #328048;
  background-color: none;
  border: 1px solid transparent;
}

.btn-subtle-success:hover {
  background-color: #eafbe7;
}

.btn-filled-danger {
  color: #fff;
  background-color: #d02b20;
  border: 1px solid transparent;
}

.btn-filled-danger:hover {
  background-color: #ee5e52;
}

.btn-outline-danger {
  color: #d02b20;
  background-color: none;
  border: 1px solid #d02b20;
}

.btn-outline-danger:hover {
  background-color: #fcecea;
}

.btn-light-danger {
  color: #d02b20;
  background-color: #fcecea;
  border: 1px solid #f5c0b8;
}

.btn-light-danger:hover {
  background-color: none;
}

.btn-subtle-danger {
  color: #d02b20;
  background-color: none;
  border: 1px solid transparent;
}

.btn-subtle-danger:hover {
  background-color: #fcecea;
}

.btn-filled-info {
  color: #fff;
  background-color: #4945ff;
  border: 1px solid transparent;
}

.btn-filled-info:hover {
  background-color: #7b79ff;
}

.btn-outline-info {
  color: #4945ff;
  background-color: none;
  border: 1px solid #4945ff;
}

.btn-outline-info:hover {
  background-color: #f0f0ff;
}

.btn-light-info {
  color: #4945ff;
  background-color: #f0f0ff;
  border: 1px solid #d9d8ff;
}

.btn-light-info:hover {
  background-color: none;
}

.btn-subtle-info {
  color: #4945ff;
  background-color: none;
  border: 1px solid transparent;
}

.btn-subtle-info:hover {
  background-color: #f0f0ff;
}

.checkbox-with-label {
  border-radius: 4px;
}

.checkbox-with-label:hover {
  background-color: #f0f0ff;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container input:checked ~ .checkbox {
  background-color: #4945ff;
}

.checkbox-container input:checked ~ .checkbox::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-container .checkbox {
  cursor: pointer;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #c0c0cf;
}

.checkbox-container .checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.checkbox-container .checkmark svg {
  width: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.checkbox-container .checkmark-dark svg {
  color: #666687 !important;
}

.checkbox-container .label {
  color: #32324d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  font-size: 14px;
}

.checkbox-container .disabled {
  background-color: #dcdce4 !important;
}

input[type="text"],
input[type="password"],
textarea[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  padding: 0;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #dcdce4;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea[type="text"]::-webkit-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea[type="text"]:-ms-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
textarea[type="text"]::-ms-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea[type="text"]::placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea[type="text"]:focus {
  outline: none !important;
  border: solid 1px #4945ff;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
textarea[type="text"]:disabled {
  background-color: #dcdce4 !important;
  color: #666687 !important;
  cursor: not-allowed;
}

input[type="text"]:disabled::-webkit-input-placeholder,
input[type="password"]:disabled::-webkit-input-placeholder,
textarea[type="text"]:disabled::-webkit-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled:-ms-input-placeholder,
input[type="password"]:disabled:-ms-input-placeholder,
textarea[type="text"]:disabled:-ms-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled::-ms-input-placeholder,
input[type="password"]:disabled::-ms-input-placeholder,
textarea[type="text"]:disabled::-ms-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled::placeholder,
input[type="password"]:disabled::placeholder,
textarea[type="text"]:disabled::placeholder {
  color: #666687 !important;
}

.input-container {
  width: 100%;
  position: relative;
}

.input-container .input {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-size: 14px;
}

.input-container .label {
  font-weight: 600;
  font-size: 14px;
  margin: 6px 0px;
}

.input-container .description {
  font-size: 13px;
  margin: 6px 0px;
  font-weight: 400;
  color: #666687;
}

.input-container .required::after {
  margin-left: 5px;
  color: #ee5e52;
  content: "*";
}

.input-container .right-button {
  cursor: pointer;
}

.input-container .right-button svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: auto;
  margin-left: -30px;
  cursor: pointer;
  color: #666687;
}

.input-container .left-icon {
  position: absolute;
  left: 10px;
}

.input-container .left-icon svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: auto;
  color: #8e8ea9;
  margin-right: -30px;
}

.input-container .disabled {
  background-color: #dcdce4 !important;
  color: #666687 !important;
  cursor: not-allowed;
}

.input-container .disabled::-webkit-input-placeholder {
  color: #666687 !important;
}

.input-container .disabled:-ms-input-placeholder {
  color: #666687 !important;
}

.input-container .disabled::-ms-input-placeholder {
  color: #666687 !important;
}

.input-container .disabled::placeholder {
  color: #666687 !important;
}

.input-container .default {
  padding-left: 12px !important;
}

.input-container .with-icon {
  padding-left: 34px !important;
}

.select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.select-container select {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select-container .select-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 28px;
  border-radius: 4px;
  border: solid 1px #dcdce4;
  padding-left: 12px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  width: 100%;
}

.select-container .arrow svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: auto;
  margin-left: -30px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  color: #a5a5ba;
}

.select-container .opened svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.select-options {
  max-height: 200px;
  overflow-y: overlay;
  position: absolute;
  z-index: 1000;
  font-size: 14px;
  margin-top: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eaeaef;
  -webkit-box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
          box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
  border-radius: 4px;
}

.select-options:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.select-options::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.select-options::-webkit-scrollbar-thumb {
  opacity: 0;
  border-radius: 10px;
}

.select-options::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.select-options .option {
  margin: 5px 0;
  overflow-x: hidden;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 9px;
  margin-left: 3px;
  margin-right: 3px;
  min-height: 36px;
}

.select-options .option:first-child {
  margin-top: 8px;
}

.select-options .option:last-child {
  margin-bottom: 8px;
}

.select-options .option:hover {
  background-color: #f0f0ff;
}

.switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.switch-container .switch {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 20px;
  border-radius: 24px;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  background-color: #dcdce4;
}

.switch-container .switch:after {
  content: "";
  position: absolute;
  margin-left: 4px;
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #fff;
  left: 0px;
  -webkit-transition: left 300ms ease;
  transition: left 300ms ease;
}

.switch-container .switch:checked {
  background-color: #5cb176;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.switch-container .switch:checked::after {
  -webkit-transition: left 300ms ease;
  transition: left 300ms ease;
  left: 14px;
}

.switch-container .switch-label {
  margin-left: 10px;
  font-size: 16px;
  color: #4a4a6a;
}

.switch-container .switch-disabled {
  cursor: not-allowed;
  background-color: #dcdce4 !important;
}

.switch-container .switch-disabled::after {
  background-color: #f6f6f9;
}

textarea[type="text"] {
  height: 80px;
}

.divider {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divider .line {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.divider .label {
  margin: 0 15px;
  color: #c0c0cf;
}

.loader svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #32324d;
  -webkit-animation: spin 800ms infinite ease;
          animation: spin 800ms infinite ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.skeleton-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skeleton {
  margin-top: 10px;
  height: 8px;
  border-radius: 4px;
  -webkit-animation: skeleton-loading 0.7s linear infinite alternate;
          animation: skeleton-loading 0.7s linear infinite alternate;
}

.skeleton-circle {
  content: " ";
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-animation: skeleton-loading 0.7s linear infinite alternate;
          animation: skeleton-loading 0.7s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #eaeaef;
  }
  100% {
    background-color: #dcdce4;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #eaeaef;
  }
  100% {
    background-color: #dcdce4;
  }
}

.accordion-container {
  width: 100%;
}

.accordion {
  width: 100%;
  border-bottom: 1px solid #dcdce4;
}

.accordion .label {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.accordion .label:hover {
  background-color: #f6f6f9;
}

.accordion .label .icon svg {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26px;
  height: auto;
  color: #666687;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.accordion .label .opened svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.accordion .label .title {
  margin-left: 10px;
}

.accordion .content {
  width: auto;
  margin-left: 56px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}

.accordion .displayed {
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 20px;
}

.kbd {
  line-height: 1.55;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 12px;
  font-weight: 700;
  background-color: #f8f9fa;
  color: #495057;
  padding: 3px 5px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  border-bottom: 3px solid #dee2e6;
}

.card {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
}

.card .image {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #000;
  width: 100%;
  height: 160px;
}

.card .image img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .title-container {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 20px;
}

.card .text {
  font-size: 14px;
  font-weight: 300;
  color: #666687;
  margin: 0 20px;
}

.card .footer {
  padding: 20px;
}

.notifications {
  position: fixed;
  right: 20px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  z-index: 99999;
}

.notification {
  max-height: 400px;
  right: -600px;
  -webkit-transition: right 500ms cubic-bezier(0.51, 0.3, 0, 1.21);
  transition: right 500ms cubic-bezier(0.51, 0.3, 0, 1.21);
  border-radius: 4px;
  position: relative;
  margin: 5px 0;
  min-height: 60px;
  width: 400px;
  border: 1px solid #dcdce4;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(33, 33, 52, 0.05));
          filter: drop-shadow(0px 2px 2px rgba(33, 33, 52, 0.05));
}

.notification .notification-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.notification .notification-icon svg {
  width: 28px;
  height: 28px;
}

.notification .notification-success {
  color: #5cb176;
}

.notification .notification-danger {
  color: #ee5e52;
}

.notification .notification-info {
  color: #7b79ff;
}

.notification .notification-loading {
  margin: 0 14px;
}

.notification .notification-loading svg {
  width: 22px;
  height: 22px;
}

.notification .notification-content {
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
}

.notification .notification-content .notification-title {
  font-weight: 500;
}

.notification .notification-content .notification-body {
  margin-top: 2px;
  color: #666687;
  margin-bottom: 10px;
}

.notification .notification-close-btn {
  padding: 5px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification .notification-close-btn svg {
  padding: 5px;
  cursor: pointer;
}

.notification-body-success {
  background-color: #eafbe7;
}

.notification-body-danger {
  background-color: #fcecea;
}

.notification-body-info {
  background-color: #f0f0ff;
}

.modal-hidden {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.modal-visible {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.modal {
  position: fixed;
  margin-top: 75px;
  border-radius: 5px;
  width: 450px;
  background-color: #fff;
  padding-bottom: 24px;
}

.modal .header {
  padding-left: 20px;
  padding-right: 16px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f6f6f9;
}

.modal .close-btn svg {
  width: 28px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .close-btn:hover {
  border-radius: 5px;
  background-color: #f6f6f9;
}

.modal .content {
  margin: 0 20px;
}

.container__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.navbar {
  -webkit-transition: width 500ms ease;
  transition: width 500ms ease;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #dcdce4;
}

.navbar-items {
  margin-top: 10px;
  overflow-x: hidden;
  width: 100%;
}

.navbar-accordion .label {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #32324d;
  cursor: pointer;
}

.navbar-accordion .label .icon svg {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: auto;
  color: #666687;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.navbar-accordion .label .opened svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.navbar-accordion .label .title {
  margin-left: 10px;
}

.navbar-accordion .content {
  margin-left: 28px;
  margin-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}

.navbar-accordion .displayed {
  opacity: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-accordion .link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
  border-left: 1px solid #dcdce4;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  color: #4a4a6a;
}

.navbar-accordion .current {
  border-left: 1px solid #7b79ff;
  background-color: #f0f0ff;
}

.navbar-logo {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
  height: 70px;
  border-bottom: 1px solid #dcdce4;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.navbar-logo .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-logo .logo svg {
  width: 34px;
  height: auto;
}

.navbar-logo .text {
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  margin-left: 12px;
  font-weight: 600;
}

.navbar-logo .main_text {
  font-size: 16px;
}

.navbar-logo .sub_text {
  color: #666687;
  font-size: 11px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.collapse-btn {
  -webkit-transition: left 500ms ease;
  transition: left 500ms ease;
  background-color: #fff;
  position: absolute;
  bottom: 20px;
  border: 1px solid #eaeaef;
  border-radius: 4px;
  width: 14px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666687;
}

.collapse-btn svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.collapse-btn-opened svg {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.logo-collapsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

.xs {
  height: 24px !important;
}

.sm {
  height: 30px !important;
}

.md {
  height: 36px !important;
}

.lg {
  height: 42px !important;
}

.full {
  height: 100% !important;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.documentation .container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .documentation .container {
    margin: 0 20px;
  }
}

.documentation .about {
  height: 225px;
  background-color: #f6f6f9;
}

.documentation .about .name {
  font-size: 24px;
  padding-top: 10px;
}

@media (max-width: 1250px) {
  .documentation .about .name {
    font-size: 18px;
  }
}

.documentation .about .info {
  margin-top: 10px;
  color: #666687;
}

.documentation .about .source-container {
  margin-top: 25px;
}

.documentation .about .source-container .source {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.documentation .about .source-container .source .text {
  font-weight: 300;
  color: #666687;
  width: 100px;
}

.documentation .about .source-container .source .path {
  font-weight: 300;
}

.documentation .about .source-container .source .path pre {
  background-color: #f6f6f9 !important;
  margin: 0;
}

.documentation .main pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  overflow-x: hidden;
}

.documentation .main .subtitle {
  padding: 20px 0;
}

.documentation .main .component-preview {
  border: 1px solid #eaeaef;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.documentation .main .component-preview .component {
  width: 100%;
  padding: 20px;
}

@media (max-width: 800px) {
  .documentation .main .component-preview .component {
    line-height: 1.7;
  }
}

.documentation .main .component-preview .settings {
  width: 200px;
  padding: 20px;
  border-left: 1px solid #dcdce4;
}

.documentation .main .component-preview .settings .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.documentation .main .component-preview .settings .section .text {
  font-size: 15px;
  margin-left: 10px;
}

.card-component-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .card-component-preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.notification-component-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.notification-component-preview .notification-component-preview-buttons {
  max-width: 200px;
  margin: 10px;
}

.action-icon-component-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.autocomplete-component-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.button-component-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-component-preview .preview-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-component-preview .preview-row .button-component-preview-button {
  width: 150px;
  margin: 10px;
}
