input[type="text"],
input[type="password"],
textarea[type="text"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 240px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #dcdce4;
  margin-right: 5px;
  padding-left: 12px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea[type="text"]::-webkit-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea[type="text"]:-ms-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
textarea[type="text"]::-ms-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea[type="text"]::placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea[type="text"]:focus {
  outline: none !important;
  border: solid 1px #4945ff;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
textarea[type="text"]:disabled {
  background-color: #dcdce4 !important;
  color: #666687 !important;
  cursor: not-allowed;
}

input[type="text"]:disabled::-webkit-input-placeholder,
input[type="password"]:disabled::-webkit-input-placeholder,
textarea[type="text"]:disabled::-webkit-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled:-ms-input-placeholder,
input[type="password"]:disabled:-ms-input-placeholder,
textarea[type="text"]:disabled:-ms-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled::-ms-input-placeholder,
input[type="password"]:disabled::-ms-input-placeholder,
textarea[type="text"]:disabled::-ms-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled::placeholder,
input[type="password"]:disabled::placeholder,
textarea[type="text"]:disabled::placeholder {
  color: #666687 !important;
}

.input-container {
  margin-left: 10px;
  font-size: 14px;
}

.input-label {
  font-weight: 600;
  margin: 6px 0px;
}

.input-description {
  font-size: 13px;
  margin: 6px 0px;
  font-weight: 400;
  color: #666687;
}

.required::after {
  margin-left: 5px;
  color: #ee5e52;
  content: "*";
}

.input-sidebutton {
  cursor: pointer;
}

.input-sidebutton svg {
  margin-left: -30px;
}

.input-disabled {
  background-color: #dcdce4 !important;
  color: #666687 !important;
  cursor: not-allowed;
}

.input-disabled::-webkit-input-placeholder {
  color: #666687 !important;
}

.input-disabled:-ms-input-placeholder {
  color: #666687 !important;
}

.input-disabled::-ms-input-placeholder {
  color: #666687 !important;
}

.input-disabled::placeholder {
  color: #666687 !important;
}

.text-input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #32324d;
  -webkit-animation: spin 800ms infinite ease;
          animation: spin 800ms infinite ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.skeleton-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skeleton {
  margin-top: 10px;
  height: 8px;
  border-radius: 4px;
  -webkit-animation: skeleton-loading 0.7s linear infinite alternate;
          animation: skeleton-loading 0.7s linear infinite alternate;
}

.skeleton-circle {
  content: " ";
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-animation: skeleton-loading 0.7s linear infinite alternate;
          animation: skeleton-loading 0.7s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #eaeaef;
  }
  100% {
    background-color: #dcdce4;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #eaeaef;
  }
  100% {
    background-color: #dcdce4;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f6f6f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__main {
  z-index: 10;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #666687;
}
