input[type="text"],
input[type="password"],
textarea[type="text"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 240px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #dcdce4;
  margin-right: 5px;
  padding-left: 12px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea[type="text"]::-webkit-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea[type="text"]:-ms-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
textarea[type="text"]::-ms-input-placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea[type="text"]::placeholder {
  color: #8e8ea9;
  font-size: 14px;
  font-weight: 250;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea[type="text"]:focus {
  outline: none !important;
  border: solid 1px #4945ff;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
textarea[type="text"]:disabled {
  background-color: #dcdce4 !important;
  color: #666687 !important;
  cursor: not-allowed;
}

input[type="text"]:disabled::-webkit-input-placeholder,
input[type="password"]:disabled::-webkit-input-placeholder,
textarea[type="text"]:disabled::-webkit-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled:-ms-input-placeholder,
input[type="password"]:disabled:-ms-input-placeholder,
textarea[type="text"]:disabled:-ms-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled::-ms-input-placeholder,
input[type="password"]:disabled::-ms-input-placeholder,
textarea[type="text"]:disabled::-ms-input-placeholder {
  color: #666687 !important;
}

input[type="text"]:disabled::placeholder,
input[type="password"]:disabled::placeholder,
textarea[type="text"]:disabled::placeholder {
  color: #666687 !important;
}

.select-disabled {
  background-color: #dcdce4 !important;
  color: #666687 !important;
}

.input-container {
  margin-left: 10px;
  font-size: 14px;
}

.input-label {
  font-weight: 600;
  margin: 6px 0px;
}

.input-description {
  font-size: 13px;
  margin: 6px 0px;
  font-weight: 400;
  color: #666687;
}

.required::after {
  margin-left: 5px;
  color: #ee5e52;
  content: "*";
}

.input-loading svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #32324d;
  margin-left: -30px;
  -webkit-animation: spin 800ms infinite;
          animation: spin 800ms infinite;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.text-input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.password-visibility-btn svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: auto;
  margin-left: -36px;
}

textarea[type="text"] {
  height: 80px;
}

.switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-container .switch-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 24px;
  border-radius: 24px;
}

.switch-container .switch-input .switch-ball {
  position: absolute;
  margin-left: 4px;
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #fff;
}

.switch-container .switch-input .ball-true {
  -webkit-transition: left 300ms ease;
  transition: left 300ms ease;
  left: 16px;
}

.switch-container .switch-input .ball-false {
  -webkit-transition: left 300ms ease;
  transition: left 300ms ease;
  left: 0;
}

.switch-container .switch-true {
  background-color: #5cb176;
}

.switch-container .switch-false {
  background-color: #ee5e52;
}

.switch-container .switch-status {
  margin-left: 10px;
}

.status-true {
  color: #ee5e52;
}

.status-false {
  color: #5cb176;
}

.status-disabled {
  color: #666687 !important;
}

.select-input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 240px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #dcdce4;
  padding-left: 12px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8e8ea9;
  font-size: 14px;
}

.select-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-input-icon svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: auto;
  margin-left: -30px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  color: #a5a5ba;
}

.select-input-icon-opened svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.select-option-container {
  max-height: 200px;
  overflow-y: scroll;
  position: fixed;
  z-index: 999;
  font-size: 14px;
  margin-top: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 252px;
  min-width: 250px;
  border: 1px solid #eaeaef;
  -webkit-box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
          box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
  border-radius: 4px;
}

.select-option-container:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.select-option-container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.select-option-container::-webkit-scrollbar-thumb {
  opacity: 0;
  border-radius: 10px;
}

.select-option-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.select-option-container .select-option {
  margin: 5px 0;
  overflow-x: hidden;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 9px;
  margin-left: 3px;
  margin-right: 3px;
  min-height: 36px;
}

.select-option-container .select-option:first-child {
  margin-top: 8px;
}

.select-option-container .select-option:last-child {
  margin-bottom: 8px;
}

.select-option-container .select-option:hover {
  background-color: #f0f0ff;
}

.checkbox {
  margin: 5px;
  padding: 5px 8px 5px 5px;
}

.checkbox-with-label {
  border-radius: 4px;
}

.checkbox-with-label:hover {
  background-color: #f0f0ff;
}

.checkbox-with-label-disabled {
  background-color: #dcdce4 !important;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-container .input-checkbox {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #c0c0cf;
}

.checkbox-container .checkbox-checked {
  background-color: #4945ff;
}

.checkbox-container .checkbox-checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.checkbox-container .checkbox-checkmark svg {
  width: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.checkbox-container .checkbox-checkmark-dark svg {
  color: #666687;
}

.checkbox-container .checkbox-label {
  color: #32324d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  font-size: 14px;
}

.btn {
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
  margin: 5px;
  min-width: 58px;
  min-height: 32px;
  border: 1px solid black;
  background: none;
  color: black;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.btn:disabled {
  background-color: #f6f6f9;
  border: 1px solid #dcdce4;
  color: #666687;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: #f6f6f9;
  border: 1px solid #dcdce4;
  color: #666687;
}

.btn-filled-success {
  color: #fff;
  border: none;
  background-color: #328048;
}

.btn-filled-success:hover {
  background-color: #5cb176;
}

.btn-outline-success {
  background: none;
  border: 1px solid #328048;
  color: #328048;
}

.btn-outline-success:hover {
  background-color: #eafbe7;
}

.btn-light-success {
  background-color: #eafbe7;
  border: 1px solid #c6f0c2;
  color: #328048;
}

.btn-light-success:hover {
  background: none;
}

.btn-subtle-success {
  color: #328048;
  background: none;
  border: none;
}

.btn-subtle-success:hover {
  background-color: #eafbe7;
}

.btn-filled-danger {
  color: #fff;
  border: none;
  background-color: #d02b20;
}

.btn-filled-danger:hover {
  background-color: #ee5e52;
}

.btn-outline-danger {
  background: none;
  border: 1px solid #d02b20;
  color: #d02b20;
}

.btn-outline-danger:hover {
  background-color: #fcecea;
}

.btn-light-danger {
  background-color: #fcecea;
  border: 1px solid #f5c0b8;
  color: #d02b20;
}

.btn-light-danger:hover {
  background: none;
}

.btn-subtle-danger {
  color: #d02b20;
  background: none;
  border: none;
}

.btn-subtle-danger:hover {
  background-color: #fcecea;
}

.btn-filled-info {
  border: none;
  background-color: #4945ff;
  color: #fff;
}

.btn-filled-info:hover {
  background-color: #7b79ff;
}

.btn-outline-info {
  background: none;
  border: 1px solid #4945ff;
  color: #4945ff;
}

.btn-outline-info:hover {
  background-color: #f0f0ff;
}

.btn-light-info {
  background-color: #f0f0ff;
  border: 1px solid #d9d8ff;
  color: #4945ff;
}

.btn-light-info:hover {
  background: none;
}

.btn-subtle-info {
  color: #4945ff;
  background: none;
  border: none;
}

.btn-subtle-info:hover {
  background-color: #f0f0ff;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f6f6f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__main {
  z-index: 10;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
  overflow-y: auto;
}

.warning {
  color: #ee5e52;
}

a {
  text-decoration: none;
  color: #666687;
}
