.container__main {
  display: flex;
}

.content {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

.navbar {
  transition: width 500ms ease;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid $neutral-200;
}

.navbar-items {
  margin-top: 10px;
  overflow-x: hidden;
  width: 100%;
}

.navbar-accordion {
  .label {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: $neutral-800;

    cursor: pointer;
    .icon svg {
      margin-left: 20px;
      display: flex;
      width: 20px;
      height: auto;
      color: $neutral-600;
      transform: rotate(-90deg);
      transition: transform 300ms ease;
    }
    .opened svg {
      transform: rotate(0deg);
      transition: transform 300ms ease;
    }
    .title {
      margin-left: 10px;
    }
  }

  .content {
    margin-left: 28px;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: all 300ms ease;
    opacity: 0;
  }

  .displayed {
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-transform: uppercase;
    border-left: 1px solid $neutral-200;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: $neutral-700;
  }
  .current {
    border-left: 1px solid $primary-500;
    background-color: $primary-100;
  }
}

.navbar-logo {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding-left: 14px;
  height: 70px;
  border-bottom: 1px solid $neutral-200;
  transition: all 500ms ease;
  .logo {
    display: flex;
    svg {
      width: 34px;
      height: auto;
    }
  }
  .text {
    transition: opacity 500ms ease;
    margin-left: 12px;
    font-weight: 600;
  }
  .main_text {
    font-size: 16px;
  }
  .sub_text {
    color: $neutral-600;
    font-size: 11px;
    text-transform: uppercase;
    flex: 1 0;
  }
}

.collapse-btn {
  transition: left 500ms ease;
  background-color: #fff;
  position: absolute;
  bottom: 20px;
  border: 1px solid $neutral-150;
  border-radius: 4px;
  width: 14px;
  height: 25px;
  display: flex;
  align-items: center;
  color: $neutral-600;
  svg {
    transform: rotate(0deg);
    transition: transform 500ms ease;
  }
}

.collapse-btn-opened {
  svg {
    transition: transform 500ms ease;
    transform: rotate(180deg);
  }
}

.logo-collapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
