@import "../Utils/_variables.scss";
.toggle-container {
    width: 180px;
    height: 80px;
}

.toggle-btns {
    margin-top: 5px;
    display: flex;
}


.toggle-left-btn {
    cursor: pointer;
    transition: 400ms ease;
    font-weight: 600;
    color: $neutral-600;
    border: 1px solid $neutral-200;
    background-color: #fff;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
    width: 90px;
    height: 40px;
    margin-left: 20px;

}

.toggle-right-btn {
    cursor: pointer;
    transition: 400ms ease;
    font-weight: 600;
    color: $neutral-600;
    border: 1px solid $neutral-200;
    background-color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 90px;
    height: 40px;
}

.toggle-on {
    color: $primary-600;
    background-color: $primary-100;
}

.toggle-off {
    color: $danger-600;
    background-color: $danger-100;
}

.disabled-left-btn {
    color: $neutral-600;
    background-color: $neutral-150;
}

.disabled-right-btn {
    color: $neutral-700;
    background-color: $neutral-200;
}