@import "../../scss/variables";

input[type="text"],
input[type="password"],
textarea[type="text"] {
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  padding: 0;
  height: 36px;
  border-radius: 4px;
  border: solid 1px $neutral-200;
  &::placeholder {
    color: $neutral-500;
    font-size: 14px;
    font-weight: 250;
  }
  &:focus {
    outline: none !important;
    border: solid 1px $primary-600;
  }
  &:disabled {
    background-color: $neutral-150 !important;
    color: $neutral-600 !important;
    cursor: not-allowed;
    &::placeholder {
      color: $neutral-600 !important;
    }
  }
}
.input-container {
  width: 100%;
  position: relative;
  .input {
    position: relative;
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 14px;
  }

  .label {
    font-weight: 600;
    font-size: 14px;
    margin: 6px 0px;
  }

  .description {
    font-size: 13px;
    margin: 6px 0px;
    font-weight: 400;
    color: $neutral-600;
  }
  .required {
    &::after {
      margin-left: 5px;
      color: $danger-500;
      content: "*";
    }
  }
  .right-button {
    cursor: pointer;
  }

  .right-button svg {
    display: flex;
    width: 16px;
    height: auto;
    margin-left: -30px;
    cursor: pointer;
    color: $neutral-600;
  }

  .left-icon {
    position: absolute;
    left: 10px;
  }

  .left-icon svg {
    display: flex;
    width: 16px;
    height: auto;
    color: $neutral-500;
    margin-right: -30px;
  }
  .disabled {
    background-color: $neutral-150 !important;
    color: $neutral-600 !important;
    cursor: not-allowed;
    &::placeholder {
      color: $neutral-600 !important;
    }
  }

  .default {
    padding-left: 12px !important;
  }

  .with-icon {
    padding-left: 34px !important;
  }
}

.br-sm {
  border-radius: 2px !important;
}

.br-md {
  border-radius: 4px !important;
}

.br-lg {
  border-radius: 6px !important;
}

.br-xl {
  border-radius: 8px !important;
}

.br-xxl {
  border-radius: 10px !important;
}
