@import "_variables.scss";
// @import "../Alert/alerts";
// @import "../Button/buttons";
// @import "../Checkbox/checkbox";
@import "../Inputs/inputs";
// @import "../Modal/modal";
// @import "../Navbar/navbar";
// @import "../Select/select";
// @import "../Switch/switch";
// @import "../Toggle/toggle";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  background-color: $neutral-100;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#container {
  display: flex;
}

.container__main {
  z-index: 10;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

.warning {
  color: $danger-500;
}

a {
  text-decoration: none;
  color: $neutral-600;
}
